---
import '../styles/global.css';
---

<!doctype html>
<html lang="it">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="google-site-verification" content="TFC9KKJST9sPJHv4r0wz0xnmUb09ZFJFC8crGzgUSnk" />
	<script is:inline>
		window.plausible = window.plausible || function () {
		  (window.plausible.q = window.plausible.q || []).push(arguments);
		};
	  </script>
	  <script defer data-domain="spicy-town.vercel.app" src="https://plausible.io/js/script.hash.outbound-links.pageview-props.tagged-events.js"></script>
	
	  <title>Spicy Town CSG - Fast Food e Pollo Piccante | Castel San Giovanni</title>
	  <meta name="description" content="Spicy Town CSG è il miglior fast food halal a Castel San Giovanni. Specialità in hamburger piccanti e piatti grigliati. Vieni a trovarci!" />

	<meta name="keywords" content="Spicy Town CSG, fast food, Castel San Giovanni, Castello, ristorante, hamburger, pollo piccante, halal, CSG" />
    <meta name="author" content="Karim El Assali" />
    <meta name="robots" content="index, follow" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="theme-color" content="#ffffff" />

    <meta property="og:title" content="Spicy Town CSG | Fast Food Piccante e Gustoso" />
    <meta property="og:description" content="Prova i nostri hamburger piccanti e piatti deliziosi al ristorante Spicy Town CSG!" />
    <meta property="og:image" content="https://spicy-town.vercel.app/premuim_logo.png" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://spicy-town.vercel.app/" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Spicy Town CSG | Il miglior fast food della città" />
    <meta name="twitter:description" content="Hamburger piccanti, sapori unici. Visita Spicy Town CSG ora!" />
    <meta name="twitter:image" content="https://spicy-town.vercel.app/premuim_logo.png" />

	
    <meta name="generator" content="Astro" />
    <link rel="icon" type="image/png" href="/premuim_logo.png" />
    <link rel="canonical" href="https://spicy-town.vercel.app/" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
	<!-- Google tag (gtag.js) -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-1F0MV2QC7Y"></script>
	<script is:inline>
	window.dataLayer = window.dataLayer || [];
	function gtag(){dataLayer.push(arguments);}
	gtag('js', new Date());

	gtag('config', 'G-1F0MV2QC7Y');
	</script>
	<script type="application/ld+json">
		{
		  "@context": "https://schema.org",
		  "@type": "Restaurant",
		  "name": "Spicy Town CSG",
		  "image": "https://spicy-town.vercel.app/premuim_logo.png",
		  "description": "Spicy Town CSG è un ristorante fast food halal a Castel San Giovanni. Hamburger piccanti, pollo fritto e altro ancora."
		  "address": {
			"@type": "PostalAddress",
			"streetAddress": "Corso Giacomo Matteotti, 44",
			"addressLocality": "Castell San Giovanni",
			"postalCode": "29015",
			"addressCountry": "IT"
		  },
		  "url": "https://spicy-town.vercel.app",
		  "telephone": "+39 3510505298",
		  "servesCuisine": ["Fast Food", "Hamburger", "Piatti Grigliati"],
		  "priceRange": "$",
		  "openingHoursSpecification": [
			{
			  "@type": "OpeningHoursSpecification",
			  "dayOfWeek": [
				"Monday",
				"Tuesday",
				"Wednesday",
				"Thursday",
				"Friday",
				"Saturday"
			  ],
			  "opens": "11:00",
			  "closes": "23:00"
			}
		  ],
		  "sameAs": [
			"https://instagram.com/spicytown_csg",
			"https://tiktok.com/@spicytown_csg",
			"https://wa.me/3510505298"
		  ]
		}
		</script>
		
  </head>

  <body>
    <slot />
  </body>
</html>


<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
