---
import '../styles/global.css';
---

<!doctype html>
<html lang="it">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>GFC | Il miglior fast food della città</title>
    <meta name="description" content="Il ristorante GFC offre i piatti fast food più deliziosi e hamburger piccanti. Provalo ora!" />
    <meta name="keywords" content="GFC, fast food, ristorante, hamburger, piccante, Aosta" />
    <meta name="author" content="Karim El Assali" />
    <meta name="robots" content="index, follow" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="theme-color" content="#ffffff" />

    <meta property="og:title" content="GFC | Fast Food Piccante e Gustoso" />
    <meta property="og:description" content="Prova i nostri hamburger piccanti e piatti deliziosi al ristorante GFC!" />
    <meta property="og:image" content="https://trygfc.vercel.app/premuim_logo.avif" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://trygfc.vercel.app/" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="GFC | Il miglior fast food della città" />
    <meta name="twitter:description" content="Hamburger piccanti, sapori unici. Visita GFC ora!" />
    <meta name="twitter:image" content="https://trygfc.vercel.app/premuim_logo.avif" />

    <meta name="generator" content="Astro" />
    <link rel="icon" type="image/avif" href="/premuim_logo.avif" />
    <link rel="canonical" href="https://trygfc.vercel.app/" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  </head>

  <body>
    <slot />
  </body>
</html>


<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
